<% @eventDate = Event.select(:date).last(1)[0].date %>
<% @guest = Guest.new %>
<%= form_for @guest do |f| %>
<div id="form">
    <div class="form_section top">
        <h1 class="form_heading">The next event is on <%= @eventDate.strftime("%B %d, %Y") %> at 7 pm</h1>
    </div>
    <div class="form_section">
        <h1 class="form_heading" style="display:inline; margin-right:10px;"><%= f.label :name, 'What is your name?'%></h1>
        <%= f.text_field :name, :required => true %>
    </div>

    <div class="form_section">
        <h1 class="form_heading"><%= f.label :response, 'Are you planning to attend?'%></h1>
        <%= f.radio_button :response, 'Yes', :checked => true %>
        <%= f.label :response, 'Yes, I can attend', :value => 'yes' %> <br />
        <%= f.radio_button :response, 'Maybe' %>
        <%= f.label :response, 'I might be able to attend', :value => 'maybe' %> <br />
        <%= f.radio_button :response, 'No' %>
        <%= f.label :response, 'No, I cannot attend', :value => 'no' %> <br />
    </div>

    <div class="form_section">
        <h1 class="form_heading"><%= f.label :response, 'Can you provide a carpool?'%></h1>
        <%= f.radio_button :carpool, 'Does not need a ride', :checked => true  %>
        <%= f.label :response, 'I do not need a ride', :value => 'neither' %> <br />
        <%= f.radio_button :carpool, 'Needs a ride' %>
        <%= f.label :response, 'I will need a ride', :value => 'need' %> <br />
        <%= f.radio_button :carpool, 'Can provide a ride' %>
        <%= f.label :response, 'I can provide a carpool', :value => 'provide' %> <br />
    </div>

    <div class="form_section">
        <h1 class="form_heading"><%= f.label :note, 'Anything else you would like to add?'%></h1>
        <%= f.text_area :note, :placeholder => 'Contact information for carpools?',:size => "73x5" %>
    </div>
</div>

<%= f.submit 'RSVP' %>

<% end %>