<h1>New User</h1>

<%= form_for :user, url: users_path do |f| %>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %><br />
    
    <%= f.radio_button :response, "yes" %>
    <%= f.label :response_yes, "Yes, I am attending" %><br />
    <%= f.radio_button :response, "maybe" %>
    <%= f.label :response_maybe, "I might attend" %><br />
    <%= f.radio_button :response, "no" %>
    <%= f.label :response_no, "I will not be attending" %><br />
    

    <%= f.submit "Submit RSVP" %>
<% end %>
