<!DOCTYPE html>
<html>
<head>
  <title>Rsvp</title>
  <link href='http://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "style.css" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="container">
    <div id="title">LLVM Bay-Area Social</div>
    <div id="information">
        <a href="http://tiedhouse.com/" target="_blank"><div id="where">
            Tied House <br />
            954 Villa Street <br />
            Mountain View, CA 94041
        </div></a>
    </div>

        <%= yield %>
    
    </div>

</body>
</html>
